
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }
    
    function isExistingOwner(userId) {
      return isOwner(userId) && resource != null;
    }

    match /users/{userId} {
      allow get, list: if request.auth.uid == userId;
      allow create: if isOwner(userId) && request.resource.data.id == userId;
      allow update: if isExistingOwner(userId);
      allow delete: if isExistingOwner(userId);
    }

    match /users/{userId}/analytics/{analyticsId} {
      allow get, list, create, update, delete: if isOwner(userId);
    }
    
    match /users/{userId}/apiKeys/{apiKeyId} {
      allow get, list, create, update, delete: if isOwner(userId);
    }
    
    match /users/{userId}/senders/{senderId} {
        allow get, list, create, update, delete: if isOwner(userId);
    }
  }
}
